
#inlineEditWrapper {
    display: inline-block;
}
  
div.inline-edit {
    padding: 2px;
    text-decoration: none;
    border: 1px solid transparent;
    text-align: left;
    width: auto;
}

div.inline-edit:hover {
    border: 1px solid #A8B9CE;
    cursor: pointer;
}

input {
    display: inline-block;
    border: 1px solid #A8B9CE;
    outline: 0px;
    padding: 2px;
}